
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new employee</title>
</head>
<body>
<h3>Welcome, Enter The Employee Details</h3>
<form th:method="post"  th:action="@{addEmployee}" th:object="${employee}">
    <table>
        <tr>
            <td>Employee ID: </td>
            <td><input type="text"  th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Employee's name: </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Contact's number: </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>